<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    table,
    h2 {
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    /* Style the header */
    .header {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
    }

    /* Style the top navigation bar */
    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    /* Style the topnav links */
    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    /* Change color on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        padding: 15px;
        border: 2px solid black;

    }

    .column1 {
        float: left;
        width: 33.33%;
        padding: 15px;

    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
    @media screen and (max-width:600px) {
        .column {
            width: 100%;
        }
    }
    .button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
/*  */
.button-4 {
  appearance: none;
  background-color: #ff1e00;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-4:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-4:hover {
  background-color: #ff0000;
}

.button-4:focus {
  box-shadow: rgba(255, 0, 0, 0.4) 0 0 0 3px;
  outline: none;
}

.button-4:disabled {
  background-color: #ff0505;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-4:active {
  background-color: #ff0000;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
</style>
<body>
    <div class="row">
        <h1></h1>
    </div>
    <div class="row">
        <div class="column1">
        </div>
        <div class="column">
            <h2 style="color: greenyellow;">การลบข้อมูลผู้ใช้</h2>
            <form action="/delete/:userId" method="post">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ข้อมูลผู้ใช้ : </label>
                    <div class="col-sm-10">
                    </div>
                </div>
                <div hidden class="form-group row">
                    <label class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10 pb-3">
                        <input class="form-control" name="deltid" id="deltid" value="<%=data2.id_employee%>" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ชื่อ : </label>
                    <div class="col-sm-10 pb-3">
                        <p class="form-control" id="name" value="<%= data.name%>"> <%=data2.name%> </p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">สกุล : </label>
                    <div class="col-sm-10">
                        <p class="form-control" maxlength="50" name="editsurname" id="editsurname" value="<%= data.surname%>" ><%=data2.surname%></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ตำแหน่ง : </label>
                    <div class="col-sm-10">
                        <p class="form-control" maxlength="50" name="editposition" id="editposition" value="<%= data.position%>" ><%=data2.position%></p>

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">เงินเดือน (บาท) : </label>
                    <div class="col-sm-10">
                        <p class="form-control" step="0.0000001" name="editsalary" id="editsalary" value="<%= data.salary%>" ><%=data2.salary%></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ยอดขายทั้งหมด (บาท) : </label>
                    <div class="col-sm-10">
                        <p class="form-control" step="0.0000001" name="edittotal_sale" id="edittotal_sale"
                            value="<%= data.total_sale%>" ><%=data2.total_sale%></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">ข้อมูลเข้าสู่ระบบ : </label>
                    <div class="col-sm-10">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email : </label>
                    <div class="col-sm-10">
                        <p class="form-control" maxlength="50" name="edit_email" id="edit_email"  ><%= data.user%></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Password : </label>
                    <div class="col-sm-10">
                        <p class="form-control" maxlength="50" name="edit_password" id="edit_password"><%= data.password%></p>
                            <br />
                            <button class="button-3" role="button">ตกลง</button>
                            <a href="/main" class="button-4" role="button">ยกเลิก</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="column1">
        </div>
    </div>
</body>

</html>